<div id="comment-section">
  <% # host variable correspond to commentable polymorphic host %>
	<h2><%= pluralize host.comments.showable.for_locale(I18n.locale.to_s).count, t('activerecord.models.comment') %></h2>
	<%= render 'comments/list_of_comments', host: host %>
	<%= render 'comments/new_comment_section' %>
</div>
