<% content_for :admin_sidebar do %>
  <% if current_user.is_allowed_to?('write_pages') %>
  	<h2><%= t 'sections' %></h2>
  	<ul>
  		<li><%= link_to t 'pages', pages_path %></li>
  	</ul>
  <% end %>
<% end %>
