<p class="meta-info">
	<%= post.author.name %> | 
	<%= post.published_at ? link_to(l(post.published_at, format: :tkh_default), post) :  t('pages.not_published_yet') %> |
	<%= pluralize post.comments.showable.for_locale(I18n.locale.to_s).count, t('activerecord.models.comment') %>
	<%= link_to t('edit'), edit_page_path(post), class: 'btn btn-mini' if administrator? %>
</p>