<p class="meta-info">
	<%= post.author.name %> | 
	<%= post.published_at ? link_to(l(post.published_at, format: :tkh_default), post) :  t('pages.not_published_yet') %> |
	<%= "#{t('activerecord.models.comments')}#{t('colon')} #{post.comments.showable.for_locale(I18n.locale.to_s).count}" %>
	<%= link_to t('edit'), edit_page_path(post), class: 'btn btn-mini' if administrator? %>
</p>