<h1><%= t 'activerecord.models.sidebar_snippets' %></h1>

<ul class="nav nav-tabs" id="admin-menu-tab">
  <%= content_tag :li, link_to(t('view'), sidebar_snippets_path), ({ class: 'active' } if controller.action_name.to_s == 'index' ) %>
  <%= content_tag :li, link_to(t('edit'), edit_sidebar_snippet_path(SidebarSnippet.first)), ({ class: 'active' } if controller.action_name.to_s == 'edit') %>
</ul>
